/* chat container */

.chat-container {
    width: 320px;
    min-width: 320px;
}

/* chat box */

.chat .chat-users {
    float: left;
    white-space: nowrap;
}

.chat .chat-controls {
    float: right;
}

.chat .chat-users li {
    display: inline;
}

.chat .chat-users li:before {
    content: ', ';
}

.chat .chat-users li:first-child:before {
    content: '';
}

.chat .wpr-messages {
    max-height: 200px;
    overflow-y: scroll;
}

.chat .messages {
    position: relative;
}

.chat .messages .message {
    clear: both;
}
