.chat-container {
    width: 320px;
    min-width: 320px;
}

.right-align-dropdown {
    left: auto;
    right: 0;
    text-align: left;
}

/* user */

.user h3 {
    float: left;
}

.user h3 .icon-user {
    margin: 10px 0;
}

.session-state {
    float: right;
    margin: 15px 0;
}

/* user list */

.users .user-list a:after {
    padding: 0 0 0 5px;
}

.users .user-list .offline a:after {
   content: 'offline';
   color: #e6e6e6;
}

.users .user-list .available a:after {
   content: 'available';
   color: #51a351;
}

.users .user-list .busy a:after {
   content: 'busy';
   color: #bd362f;
}

/* chat */

.chat {
    position: relative;
}

.chat .chat-header {
    cursor: pointer;
}

.chat .participant-list {
    overflow: hidden;
    margin: 0;
    width: 60%;
    white-space: nowrap;
    line-height: 26px;
    cursor: pointer;
}

.chat .participant-list li {
    display: inline;
}

.chat .participant-list li:before {
    content: ', ';
}

.chat .participant-list li:first-child:before {
    content: '';
}

.chat .chat-controls {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}

.chat .messages {
    margin: 10px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    max-height: 300px;
    overflow-y: scroll;
}

.chat .messages-inner {
    position: relative;
}

.chat .messages .message {
    clear: both;
}

.chat .message-input input {
    min-width: 259px;
}

.participant-list .offline {
    color: #e6e6e6;
}

.participant-list .available {
    color: #51a351;
}

.participant-list .busy {
    color: #bd362f;
}
