<div class="chat-container">

    <div id="chat-user">
        <h3>User</h3>
        <p>
            {% if not user.is_authenticated %}
                <a href="{% url login %}">login</a>
            {% else %}
                {{ user.username }} (<a href="{% url logout %}">logout</a>)
            {% endif %}
        </p>
    </div>

    <div id="chat-users">
        <h3>Users</h3>
        <ul id="chat-users-list"></ul>
    </div>

    <div id="chats">
        <h3>Chats</h3>
        <div id="chat-log"></div>
        <form id="chat-form">
            <input type="text" id="message"/>
            <input type="submit" value="send" class="btn"/>
        </form>
    </div>

    <div id="debug">
        <h3>Debug</h3>
        <div id="debug-log"></div>
        <a class="btn" id="toggle-connect" href="#">Connect</a>
    </div>

</div>
