<section class="chat-container">
    <div class="chat-session-state"></div>

    <div class="chat-window">
        <div class="chat-user">
            <h3 class="heading">User</h3>
            <p>
                {% if not user.is_authenticated %}
                    <a href="{% url login %}">login</a>
                {% else %}
                    {{ user.username }} (<a href="{% url logout %}">logout</a>)
                {% endif %}
            </p>
        </div>

        <div class="chat-users">
            <h3 class="heading">Users</h3>
            <ul class="user-list"></ul>
        </div>

        <div class="chats">
            <h3 class="heading">Chats</h3>
            <div class="chat-list"></div>
        </div>

        <div class="debug">
            <h3 class="heading">Debug</h3>
            <div class="debug-log"></div>
        </div>
    </div>
</section>
