<div class="chat-container">
  <div class="user-tools">
    {% if not user.is_active %}
      <a href="{% url login %}">login</a> 
    {% else %}
      <a href="{% url logout %}">logout</a> 
    {% endif %}
  </div>

  <a id="toggle-connect" href="#">Connect</a> Status: <span id="status">disconnected</span>

  <div id="log">
  </div>

  <form id="chatform">
    <p>Group message</p>
    <input id="public-text" type="text" />
    <input type="submit" />
  </form>

  <form id="private-chatform">
    <p>Private message</p>
    <input id="private-text" type="text"/>
    <input type="submit" text="private message"/>
    <ul id="participants">
    </ul>
  </form>
</div>