<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <title>Chat Example{% block title %}{% endblock %}</title>
  <script src="{{ STATIC_URL }}/js/jquery-1.7.1.js"></script>
  <script src="static/js/modernizr-2.5.3.custom.min.js"></script> 
  <script src="{{ STATIC_URL }}/js/socket.io.js"></script>
  <script src="{{ STATIC_URL }}/js/chat.js"></script>
  <script src="{{ STATIC_URL }}/js/my_site.js"></script>
</head>
<body>
<h3>Django - Socket.io - Tornadio over HTTPS</h3>

{% block content %}
{% endblock %}

{% block chat %}
{% endblock %}

</body>
</html>
