<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <title>Chat Example{% block title %}{% endblock %}</title>
  <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="{{ STATIC_URL }}/css/chat.css" rel="stylesheet" type="text/css">
  <link href="{{ STATIC_URL }}/css/my_site.css" rel="stylesheet" type="text/css">
  <script src="{{ STATIC_URL }}/js/jquery-1.7.1.js"></script>
  <script src="static/js/modernizr-2.5.3.custom.min.js"></script> 
  <script src="{{ STATIC_URL }}/js/socket.io.js"></script>
  <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
  <script src="{{ STATIC_URL }}/js/chat.js"></script>
  <script src="{{ STATIC_URL }}/js/my_site.js"></script>
</head>
<body>
<h3>Django - Socket.io - Tornadio over HTTPS</h3>

<section id="page">
    <section id="main-content">
      {% block content %}
      {% endblock %}
    </section>

    <section id="sidebar">
      {% block sidebar %}
      {% endblock %}
    </section>
</section>
</body>
</html>
